.dataVerticals {
  box-shadow: var(--shadow4,0 0 0px var(--colorNeutralShadowAmbient,rgba(0,0,0,.12)),0 2px 0px var(--colorNeutralShadowAmbient,rgba(0,0,0,.14)));
  
  div[role=tablist] {
    white-space: normal;
  }

  .isLink {
    display: flex;
  }
  
}
