<content id="data-content">
    
    <style>

       .horizontal {
			display: inline-flex;
			flex-wrap: wrap;
            justify-content: space-between;
		}
    
		.filter--value {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			align-items: center;
		}

		.filter--values-list {
			overflow: auto;
			max-height: 400px;
		}

		.filter--message {
			padding: 10px;
		}
		
	    .filter--name {
			font-family: {{@root.theme.fonts.large.fontFamily}};
			font-weight: {{@root.theme.fonts.large.fontWeight}};
			font-size: {{@root.theme.fonts.large.fontSize}};
			margin-bottom: 5px;
		}

		.filter--option {
			margin-bottom: 8px;
			padding-left: 10px;
		}

		/* Assign the correct size % ratio according to the number of wanted cards on a single row. We use flexbox instead of static grid to deal with SharePoint canvas sections*/
		.filter {
            flex-grow: 1;
            flex-shrink: 1;
            min-width: auto; /* 206px : Min width of the Office UI Fabric document card */
            flex-basis: {{@root.properties.layoutProperties.columnSizePercentage}}%;
        }   

		pnp-filtercheckbox {
			max-width: 100%;
		}
				        
		.filters-title {
		    display: inline-flex;
            align-items: center;
            font-size: 14px;
			font-weight: 500;
			margin-top: -1px;
			padding-right: 15px;
		}		                
    </style>

    <div class="template horizontal">  
        <span class="filters-title">Filters</span>
		{{#each @root.filters as |filter|}}
			<div class="filter">
			    {{#eq filter.selectedTemplate 'ComboBoxFilterTemplate'}}
						<div class="filter--name">{{filter.displayName}}</div>
						<div class="filter--value">
							<pnp-filtercombobox 
								data-instance-id="{{@root.instanceId}}" 
								data-filter-name="{{filter.filterName}}" 
								data-is-multi="{{filter.isMulti}}"
								data-show-count="{{filter.showCount}}"
								data-operator="{{filter.operator}}"
								data-theme-variant="{{JSONstringify @root.theme}}"
							>
									{{#each filter.values}}
										<option value="{{value}}" data-selected="{{selected}}" data-disabled="{{disabled}}" data-count="{{count}}">{{name}}</option>
									{{/each}}
							</pnp-filtercombobox>
						</div>
				{{else}}
					<div>
				        <div>
							{{#eq filter.selectedTemplate 'DateTimeFilterTemplate'}}
								<div class="filter--value">
									<pnp-filterdatetime 
										data-instance-id="{{@root.instanceId}}" 
										data-filter="{{JSONstringify filter 2}}"
										data-theme-variant="{{JSONstringify @root.theme}}"
									>
									</pnp-filterdatetime>
								</div>
							{{else}}
								{{#eq filter.selectedTemplate 'FileTypePickerFilterTemplate'}}
									<div class="filter--value">
										<pnp-filterfiletype 
											data-instance-id="{{@root.instanceId}}" 
											data-filter="{{JSONstringify filter 2}}"
											data-theme-variant="{{JSONstringify @root.theme}}"
										>											
										</pnp-filterfiletype>
									</div>
								{{else}}
									{{#eq filter.selectedTemplate 'CheckboxFilterTemplate'}}
									
										{{#if filter.isMulti}}
											<div class="filter--option">
												<pnp-filteroperator 
													data-filter-name="{{filter.filterName}}" 
													data-operator="{{filter.operator}}" 
													data-theme-variant="{{JSONstringify @root.theme}}"
												></pnp-filteroperator>
											</div>
										{{/if}}
									
										<div class="filter--option">
											<pnp-filtersearchbox data-filter="{{JSONstringify filter}}" data-instance-id="{{@root.instanceId}}" data-theme-variant="{{JSONstringify @root.theme}}"></pnp-filtersearchbox>
										</div>

										<div class="filter--values-list">
											{{#each filter.values}}
												<div title="{{name}} {{#if ../showCount}}({{count}}){{/if}}" class="filter--value">
													<pnp-filtercheckbox 
														data-instance-id="{{@root.instanceId}}" 
														data-filter-name="{{filter.filterName}}" 
														data-name="{{name}}" 
														data-value="{{value}}" 
														data-selected="{{selected}}" 
														data-disabled="{{disabled}}" 
														data-count="{{count}}"
														data-is-multi="{{../isMulti}}"
														data-theme-variant="{{JSONstringify @root.theme}}"
													>
													</pnp-filtercheckbox>
													{{#if ../showCount}}
														<span data-ui-test-id="filterCount">({{count}})</span>
													{{/if}}
												</div>
											{{/each}}
										</div>
									{{else}}
										{{#eq filter.selectedTemplate 'DateIntervalFilterTemplate'}}
											<div class="filter--value">
												<pnp-filterdateinterval 
													data-instance-id="{{@root.instanceId}}" 
													data-filter="{{JSONstringify filter 2}}"
													data-theme-variant="{{JSONstringify @root.theme}}"
												>
												</pnp-filterdateinterval>
											</div>									
										{{/eq}}	
									{{/eq}}
								{{/eq}}
							{{/eq}}
                        </div>
						<div>
							{{#isnt filter.selectedTemplate 'DateTimeFilterTemplate'}}
								{{#isnt filter.selectedTemplate 'FileTypePickerFilterTemplate'}}
									{{#eq filter.values.length 0}}
										<div class="filter--message">
											{{@root.strings.FilterNoValuesMessage}}
										</div>
									{{else}}
										{{#if filter.isMulti}}
											<pnp-filtermultiselect 
												data-instance-id="{{@root.instanceId}}" 
												data-filter-name="{{filter.filterName}}" 
												data-apply-disabled="{{#if filter.canApply}}false{{else}}true{{/if}}" 
												data-clear-disabled="{{#if filter.canClear}}false{{else}}true{{/if}}"
												data-theme-variant="{{JSONstringify @root.theme}}"
											>
											</pnp-filtermultiselect>
										{{/if}}
									{{/eq}}
								{{/isnt}}
							{{/isnt}}
						</div>

					</div>
				{{/eq}}
			</div>		
    	{{/each}}
		
		<!-- Generate fake items to correctly align cards on rows using flexbox -->
		{{#times @root.properties.layoutProperties.preferedCardNumberPerRow}}
			<div class="filter" style="visibility:hidden;height: 0;padding: 0"></div>
		{{/times}}
	</div>
</content>